@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Santiago de cali - colombia<br />
    <abbr title="Phone">P:</abbr>
    444 44 44
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:juanpablo8534@gmail.com">juanpablo8534@gmail.com</a><br />
</address>
